@font-face {
  font-family: "Hylia";
  src: url("hyliafont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Rodin";
  src: url("rodin.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body  {
  color: #cccccc;
  background-image: url("images/sheikahbackground.jpeg");
  background-color: #2d2020;
}

h1 {
  font-family: Hylia, "Times New Roman", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  font-size: 72pt;
  line-height: 30%;
  color: #cccccc;
}

h3 {
  font-family: Hylia, "Times New Roman", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  font-size: 36pt;
  line-height: 0;
  color: #cccccc;
}

h4 {
  font-family: Rodin, "Times New Roman", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  line-height: 30%;
  color: #cccccc;
  margin-bottom: 70px;
}

h5 {
  font-family: Rodin, "Times New Roman", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: justify;
  color: #cccccc;
  font-size: x-large;
  text-decoration: none;
}

h6 {
  display: none;
  font-family: Hylia, "Times New Roman", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: #cccccc;
  line-height: 30%;
  font-size: x-large;
  white-space: normal;
  text-decoration: none;
}

a.mainnav:link {
  text-decoration: none;
}

a.mainnav:visited {
  text-decoration: none;
}

a.mainnav:hover {
  text-decoration: none;
}

a.mainnav:active {
  text-decoration: none;
}

li {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

ul.main {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center; 
}

img {
  transform-origin: center;
  animation: scale-back 300ms ease-in-out forwards;
}

img:hover {
  transform-origin: center;
  animation: scale-up 700ms ease-in-out forwards;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  font-family: Rodin, "Times New Roman", sans-serif;
}

button {
  padding: 0;
  border: none;
  background: none;
}

ul.ingredient {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

li.ingredient {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
}

img.recipelist {
  width: 40%;
  height: 40%;
}

@keyframes scale-up {
  to {
    transform: scale(1.02);
  }
}

@keyframes scale-back {
  from {
    transform: scale(1.02);
  }
  to {
    transform: scale(1);
  }
}
